.btn {
  text-transform: uppercase;
  letter-spacing: 0.4px;
  min-width: 144px;

  &.btn-danger {
    &.disabled,
    &:disabled {
      color: #df7683;
    }
  }

  &.btn-secondary {
    border: 2px solid $danger;
    color: $danger;
    letter-spacing: 0.7px;

    &:focus,
    &:hover,
    &:active {
      background-color: $gray-300;
      border-color: $danger !important;
      color: $danger !important;
    }

    &.disabled,
    &:disabled {
      background-color: $white;
      border-color: #d1d1d1 !important;
      color: #d1d1d1 !important;
    }
  }
}

.nav-btn {
  margin: 1.0rem;
  min-width: 100px;
  text-transform: none;
}
