.card {
  .card-header {
    .btn {
      text-transform: inherit;
      padding: 0;
      border: none;
      text-align: left;
      margin-bottom: 0;
    }
  }

  .card-body {
    padding: 10px;
  }
}