.card-info {
  width: 100%;
  background-color: $white;
  padding: 40px 15px;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0 9px 39px 0 rgba(0, 0, 0, 0.05);
  max-width: 350px;
  margin-bottom: 20px;

  @include media-breakpoint-up(md) {
    padding: 20px 30px;
  }
  @include media-breakpoint-up(lg) {
    padding: 40px 50px;
    margin-bottom: 0;
  }

  .card-info-image-holder {
    margin-bottom: 15px;
    @include media-breakpoint-up(md) {
      margin-bottom: 30px;
    }
  }

  .card-info-title {
    margin-bottom: 15px;
    min-height: 50px;
  }

  .card-info-description {
    min-height: 65px;
    display: block;
  }

  .card-info-button-holder {
    padding: 25px 0;
    margin-bottom: 25px;
  }

  .card-info-list-title {
    margin-bottom: 15px;
  }

  .card-info-list {
    text-align: left;
  }
}